.empty{
    text-align: center;
    padding: 80px 0;
}
.empty-p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 52.5px;
    text-align: center;
    color: #777;
    text-align: center;
}